<!-- wp:template-part {"slug":"header","theme":"saaslauncher","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"saaslauncher-cart-button","style":{"spacing":{"margin":{"top":"10px","bottom":"0","left":"0","right":"0"}},"border":{"top":{"color":"var:preset|color|border-color","width":"1px"},"right":{"width":"0px","style":"none"},"bottom":{"color":"var:preset|color|border-color","width":"1px"},"left":{"width":"0px","style":"none"}}},"backgroundColor":"background","textColor":"light-color","fontSize":"small","layout":{"inherit":true,"type":"constrained","contentSize":"100%"}} -->
<main
  class="wp-block-group saaslauncher-cart-button has-light-color-color has-background-background-color has-text-color has-background has-small-font-size"
  style="
    border-top-color: var(--wp--preset--color--border-color);
    border-top-width: 1px;
    border-right-style: none;
    border-right-width: 0px;
    border-bottom-color: var(--wp--preset--color--border-color);
    border-bottom-width: 1px;
    border-left-style: none;
    border-left-width: 0px;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  "
>
  <!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","bottom":"var:preset|spacing|70","top":"var:preset|spacing|70"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
  <div
    class="wp-block-group"
    style="
      padding-top: var(--wp--preset--spacing--70);
      padding-right: var(--wp--preset--spacing--40);
      padding-bottom: var(--wp--preset--spacing--70);
      padding-left: var(--wp--preset--spacing--40);
    "
  >
    <!-- wp:group {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|70","top":"var:preset|spacing|60"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
    <div
      class="wp-block-group"
      style="
        padding-top: var(--wp--preset--spacing--60);
        padding-bottom: var(--wp--preset--spacing--70);
      "
    >
      <!-- wp:query-title {"type":"archive","showPrefix":false,"style":{"elements":{"link":{"color":{"text":"var:preset|color|heading-color"}}},"typography":{"fontSize":"60px"}},"textColor":"heading-color"} /-->

      <!-- wp:woocommerce/breadcrumbs {"textColor":"foreground","style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}}}} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:woocommerce/store-notices /-->

    <!-- wp:group {"layout":{"type":"constrained","contentSize":"100%"}} -->
    <div class="wp-block-group">
      <!-- wp:group {"align":"right","className":"saaslauncher-cart-button","style":{"spacing":{"blockGap":"32px"},"elements":{"link":{"color":{"text":"var:preset|color|light-color"}}}},"textColor":"light-color","fontSize":"medium","layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
      <div
        class="wp-block-group saaslauncher-cart-button has-light-color-color has-text-color has-link-color has-medium-font-size"
      >
        <!-- wp:woocommerce/product-results-count {"style":{"elements":{"link":{"color":{"text":"var:preset|color|heading-color"}}}},"textColor":"heading-color"} /-->

        <!-- wp:woocommerce/catalog-sorting {"fontSize":"normal","textColor":"foreground","style":{"elements":{"link":{"color":{"text":"var:preset|color|foreground"}}},"layout":{"selfStretch":"fit","flexSize":null}}} /-->
      </div>
      <!-- /wp:group -->

      <!-- wp:woocommerce/product-collection {"queryId":0,"query":{"woocommerceAttributes":[],"woocommerceStockStatus":["instock","outofstock","onbackorder"],"woocommerceOnSale":false,"woocommerceHandPickedProducts":[],"taxQuery":[],"isProductCollectionBlock":true,"perPage":9,"pages":0,"offset":0,"postType":"product","order":"asc","orderBy":"title","author":"","search":"","exclude":[],"sticky":"","inherit":true,"featured":false,"filterable":false,"relatedBy":{"categories":true,"tags":true}},"tagName":"div","displayLayout":{"type":"flex","columns":3,"shrinkColumns":true},"dimensions":{"widthType":"fill"},"queryContextIncludes":["collection"],"__privatePreviewState":{"isPreview":false,"previewMessage":"Actual products will vary depending on the page being viewed."},"align":"right","className":"saaslauncher-cart-button","style":{"spacing":{"blockGap":"32px"},"elements":{"link":{"color":{"text":"var:preset|color|light-color"}}}}} -->
      <div
        class="wp-block-woocommerce-product-collection saaslauncher-cart-button"
      >
        <!-- wp:woocommerce/product-template {"style":{"spacing":{"blockGap":"32px"},"elements":{"link":{"color":{"text":"var:preset|color|light-color"}}}},"textColor":"light-color"} -->
        <!-- wp:group {"className":"saaslauncher-product-box","style":{"spacing":{"blockGap":"0","padding":{"right":"0","left":"0","top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
        <div
          class="wp-block-group saaslauncher-product-box"
          style="
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            padding-left: 0;
          "
        >
          <!-- wp:group {"className":"saaslauncher-product-image","style":{"spacing":{"margin":{"bottom":"20px"}}},"layout":{"type":"constrained"}} -->
          <div
            class="wp-block-group saaslauncher-product-image"
            style="margin-bottom: 20px"
          >
            <!-- wp:woocommerce/product-image {"showSaleBadge":false,"saleBadgeAlign":"left","imageSizing":"thumbnail","isDescendentOfQueryLoop":true,"height":"440px","style":{"border":{"radius":{"topLeft":"12px","topRight":"12px","bottomLeft":"12px","bottomRight":"12px"}}}} -->
            <!-- wp:woocommerce/product-sale-badge {"align":"right"} /-->
            <!-- /wp:woocommerce/product-image -->

            <!-- wp:columns {"className":"saaslauncher-product-buttons","style":{"spacing":{"blockGap":{"left":"1px"}}}} -->
            <div class="wp-block-columns saaslauncher-product-buttons">
              <!-- wp:column -->
              <div class="wp-block-column">
                <!-- wp:woocommerce/product-button {"textAlign":"center","width":100,"isDescendentOfQueryLoop":true,"textColor":"light-color","fontSize":"small","className":"saaslauncher-cart-button","style":{"elements":{"link":{"color":{"text":"var:preset|color|light-color"},":hover":{"color":{"text":"var:preset|color|primary"}}}},"spacing":{"margin":{"top":"0","bottom":"0"}}}} /-->
              </div>
              <!-- /wp:column -->
            </div>
            <!-- /wp:columns -->
          </div>
          <!-- /wp:group -->

          <!-- wp:post-terms {"term":"product_cat","style":{"elements":{"link":{"color":{"text":"var:preset|color|meta-color"},":hover":{"color":{"text":"var:preset|color|secondary"}}}},"typography":{"fontStyle":"normal","fontWeight":"500","textAlign":"center"},"spacing":{"margin":{"top":"0","bottom":"0"}}},"fontSize":"x-small"} /-->

          <!-- wp:post-title {"level":4,"isLink":true,"style":{"spacing":{"margin":{"top":"4px","left":"0","right":"0","bottom":"0px"}},"elements":{"link":{"color":{"text":"var:preset|color|heading-color"},":hover":{"color":{"text":"var:preset|color|secondary"}}}},"typography":{"fontStyle":"normal","fontWeight":"500","textAlign":"center"}},"fontSize":"medium","__woocommerceNamespace":"woocommerce/product-collection/product-title"} /-->

          <!-- wp:woocommerce/product-rating {"isDescendentOfQueryLoop":true,"textAlign":"center","style":{"spacing":{"margin":{"top":"3px","bottom":"0px","left":"0","right":"0"}}}} /-->

          <!-- wp:woocommerce/product-price {"isDescendentOfQueryLoop":true,"textAlign":"center","fontSize":"medium","style":{"spacing":{"margin":{"top":"10px","bottom":"0","left":"0","right":"0"}}}} /-->
        </div>
        <!-- /wp:group -->
        <!-- /wp:woocommerce/product-template -->

        <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
        <!-- wp:query-pagination-previous /-->

        <!-- wp:query-pagination-numbers /-->

        <!-- wp:query-pagination-next /-->
        <!-- /wp:query-pagination -->

        <!-- wp:query-no-results -->
        <!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
        <p></p>
        <!-- /wp:paragraph -->
        <!-- /wp:query-no-results -->
      </div>
      <!-- /wp:woocommerce/product-collection -->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"saaslauncher","className":"saaslauncher-cart-button"} /-->
