<!-- wp:template-part {"slug":"header","theme":"saaslauncher"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"black-color","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group has-black-color-background-color has-background" style="margin-top: 0; margin-bottom: 0; padding-top: 0; padding-right: 0; padding-bottom: 0; padding-left: 0">
  <!-- wp:pattern {"slug":"saaslauncher/hero-section-dark"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/logo-showcase-dark"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/why-choose-us"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/highlight-content"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/highlight-content-2"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/features-and-benefits"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/download-apps-section"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/pricing-tables-2"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/latest-post-grid"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/testimonial-grid-dark"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/faq-accordion-2"} /-->
  <!-- wp:pattern {"slug":"saaslauncher/cta-block"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"saaslauncher","area":"footer"} /-->
